.header {
  margin: 100px 0 0;
}
@media screen and (max-width: 1440px) {
  .header {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 60px;
  }
}

@media screen and (max-width: 610px) {
  .header {
    margin-top: 50px;
  }
}
